body {
    background-color: #D7E2E9;
    
}
.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header {
    margin-top: 5%;
    text-align: center;
}
#title {
    font-family: 'Roboto';
    font-size: 30px;
    margin-bottom: 2%;
    color: black;
}
#description {
    color: black;
    font-family: 'Roboto-I';
    opacity: 90%;
}
section {
    background-color: #415A80;
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    
}
.field {
    width: 90%; 
    
}
.btn label, .btn-2 label {
    color: #F2F4F8;
    font-family: 'Roboto';
    font-size: 18px;
}
span {
    font-size: 15px;
}
.btn {
    margin-top: 5%;
}
.btn input {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 3%;   
    height: 40px; 
    font-size: 15px;
    font-family: 'Roboto-m';
}
textarea {
    width: 100%;
    margin-top: 4%;
    opacity: 80%;
    font-size: 15px;
    font-family: 'Roboto-m';
    
}
#submit {
    background-color: rgb(20, 116, 20);
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Roboto-m';
}
